about-time==4.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
alive-progress==3.3.0
aniso8601==10.0.1
annotated-types==0.7.0
ansi2html==1.9.2
arrow==1.3.0
asttokens==3.0.0
attrs==25.3.0
autograd==1.8.0
bayesian-optimization==1.4.0
blinker==1.9.0
booz-xform==0.0.9
certifi==2025.10.5
cftime==1.6.5
charset-normalizer==3.4.2
click==8.2.1
cma==4.3.0
colorama==0.4.6
comm==0.2.3
constellaration @ git+https://github.com/proximafusion/constellaration.git@6608456413df4bd56754379a11effb897ee1886f
contourpy==1.3.3
cycler==0.12.1
datasets==3.5.1
debugpy==1.8.15
decorator==5.2.1
deprecated==1.3.1
desc-opt==0.14.2
diffrax==0.7.0
dill==0.3.8
directsearch==1.0
equinox==0.12.2
executing==2.2.0
f90nml==1.5
fastjsonschema==2.21.1
filelock==3.18.0
flask==3.1.1
flask-restful==0.3.10
fonttools==4.60.1
frozenlist==1.7.0
fsspec==2025.3.0
graphemeu==0.7.2
h5py==3.13.0
hf-xet==1.1.5
huggingface-hub==0.34.1
idna==3.10
imageio==2.37.0
interpax==0.3.8
iprogress==0.4
ipykernel==6.30.0
ipython==9.4.0
ipython-pygments-lexers==1.1.1
iteration-utilities==0.13.0
itsdangerous==2.2.0
jax==0.8.0
jaxlib==0.8.0
jaxtyping==0.3.3
jedi==0.19.2
jinja2==3.1.6
joblib==1.5.1
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
jupyter-client==8.6.3
jupyter-core==5.8.1
kaleido==0.2.1
kiwisolver==1.4.9
lazy-loader==0.4
lineax==0.0.8
makefun==1.16.0
markupsafe==3.0.2
matplotlib==3.10.7
matplotlib-inline==0.1.7
ml-dtypes==0.5.3
monty==2025.3.3
mpmath==1.3.0
multidict==6.6.3
multiprocess==0.70.16
narwhals==1.48.1
nbformat==5.10.4
nest-asyncio==1.6.0
netcdf4==1.7.3
networkx==3.5
nevergrad==1.0.12
numpy==2.3.4
nvgpu==0.10.0
nvidia-ml-py==12.575.51
opt-einsum==3.4.0
optimistix==0.0.10
orjson==3.10.16
orthax==0.2.4
packaging==25.0
pandas==2.2.3
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pillow==12.0.0
pip==25.0
platformdirs==4.3.8
plotly==6.0.1
prompt-toolkit==3.0.51
propcache==0.3.2
psutil==7.0.0
ptyprocess==0.7.0
pure-eval==0.2.3
pyarrow==21.0.0
pybind11==2.13.6
pydantic==2.12.3
pydantic-core==2.41.4
pyevtk==1.6.0
pygments==2.19.2
pylatexenc==2.10
pymoo==0.6.1.5.dev0
pynvml==12.0.0
pyparsing==3.2.5
python-dateutil==2.9.0.post0
pytz==2025.2
pyyaml==6.0.2
pyzmq==27.0.0
qicna==0.3.4
quadax==0.2.8
randomgen==2.1.1
referencing==0.36.2
requests==2.32.4
rpds-py==0.26.0
ruamel-yaml==0.18.16
ruamel-yaml-clib==0.2.14
scikit-activeml==0.5.2
scikit-build-core==0.10.0
scikit-image==0.25.1
scikit-learn==1.5.2
scipy==1.16.3
seaborn==0.13.2
simsopt==1.10.2
six==1.17.0
stack-data==0.6.3
sympy==1.14.0
tabulate==0.9.0
termcolor==3.1.0
threadpoolctl==3.6.0
tifffile==2025.6.11
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
types-python-dateutil==2.9.0.20250708
typing-extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.2
urllib3==2.5.0
vmecpp==0.4.9
wadler-lindig==0.1.7
wcwidth==0.2.13
werkzeug==3.1.3
wrapt==2.0.0
xxhash==3.5.0
yarl==1.20.1
